<!doctype html>
<html>
	<head>
        <meta charset="utf-8">
        <title>DashBoard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/global.css">
        <script src="//use.typekit.net/xfn1cks.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
	</head>

	<body>
