	<div class='top-dash'>
		<div>
			<a href="/dashboard"><h2>Nooke</h2></a>
		</div>
		<div id='classroom-name-top'>
			<%= classroom.name %>
			<a href="/dashboard" id="change-classroom">Changer de classe</a>
		</div>
	</div>

	<div class="illu-classroom">
		<a href="/profil" class="teacher-name">
			<p><span><%= teacher.lastName %> <%= teacher.firstName %></span></p>
		</a>
	</div>